* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blue; 
    color: #fff; 
    padding: 10px 20px; 
}

.title-left {
    flex: 1; 
    margin-right: 50%; 
}

.title-left h1 {
    font-size: 30px; 
}

.nav-links {
    display: flex;
    align-items: center;
    margin-left: 10%;
    padding: 40px 40px 0 40px;
}

.user-info {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
}

.nav-links a, .user-info a {
    color: #fff; 
    text-decoration: none;
    font-size: 15px; 
    margin-right: 10px; 
}

.divider {
    color: #fff; 
    font-size: 18px; 
    margin: 0 10px; 
}

.nav-links a:hover, .user-info a:hover {
    text-decoration: underline;
}

.welcome {
    margin-bottom: 20px;
    font-size: 15px;
}