
h2 {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;

}

.delete-btn {
 background-color: blue;
 padding: 5px;
 color: white;
 font-size: 15px;
 margin-left: 10vmin;
}


.teams {
    color: black;
    font-size: 1.7rem;
}